<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  IgnorableNamespaces="uap rescap mp">

  <!-- Version is intentionally 0.0.0.0; it is overridden at build time by Nerdbank.GitVersioning (NBGV). -->
  <Identity
    Name="5143MartinZikmund.Awaitick"
    Publisher="CN=5EDFBB6C-AD5D-4B76-B479-1C5F44017714"
    Version="0.0.0.0" />

  <Properties>
    <DisplayName>Awaitick</DisplayName>
    <PublisherDisplayName>Martin Zikmund</PublisherDisplayName>
    <Logo>Platforms\Windows\PackageLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Awaitick"
        Description="Awaitick" Square150x150Logo="Platforms\Windows\MediumTile.png" Square44x44Logo="Platforms\Windows\AppIcon.png">
        <uap:SplashScreen  Image="Platforms\Windows\SplashScreen.png"/>
        <uap:DefaultTile Square71x71Logo="Platforms\Windows\SmallTile.png" Wide310x150Logo="Platforms\Windows\WideTile.png" Square310x310Logo="Platforms\Windows\LargeTile.png"/>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>

  <mp:PhoneIdentity PhoneProductId="457cb7c8-8e08-421e-8f14-d5c785cb6344" PhonePublisherId="457cb7c8-8e08-421e-8f14-d5c785cb6344" />
</Package>
